<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.spring2025_3_5.Mapper.UserInfoMapper">

    <resultMap id="base" type="com.test.spring2025_3_5.Model.UserInfo">
        <result property="deleteFlag" column="delete_flag"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
    </resultMap>

    <insert id="insertUserInfo" useGeneratedKeys="true" keyProperty="XXX">
        INSERT INTO user_info (username,`password`,age) VALUES (#{username},#{password},#{age})
    </insert>

    <update id="updateUserInfo">
        UPDATE user_info SET `password` = #{password} WHERE id = #{id}
    </update>

    <delete id="deleteUserInfo">
        delete from user_info where id = #{id}
    </delete>

    <select id="selectUserInfo" resultType="com.test.spring2025_3_5.Model.UserInfo" resultMap="base">
        select * from user_info where id = #{ID}
    </select>

</mapper>